<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Animales</title>
</head>
<body>
    <h1>Consulta de Animales</h1>
    <ul>
        <li><a href="/gato">Consultar Gato</a></li>
        <li><a href="/perro">Consultar Perro</a></li>
        <li><a href="/huron">Consultar Hurón</a></li>
        <li><a href="/boa">Consultar Boa Constrictor</a></li>
    </ul>
</body>
</html>
